<form class="ui large form segment">
    <h3 class="ui header">Add a new post</h3>
    <div class="field">
        <label for="title">Title:</label>
        <input name="title" #title>
    </div>
    <div class="field">
        <label for="link">Link:</label>
        <input name="link" #link>
        <label for="comment">Comment:</label>
        <input name="comment" #comment>
        <button (click)="addArticle(title, link, comment)"
                class="ui positive right floated button">
            Submit link
        </button>
    </div>
</form>
<!-- start adding here -->
<div class="ui grid posts">
    <article
            *ngFor="#article of articles"
            [article]="article">
        <!--[article], passing article to article component class-->
    </article>
</div>